.profileContainer {
  position: relative;
  height: 200px;
  width: 200px;
}

.clickButton {
  position: absolute;
  border-radius: 50%;
  border: none;
  margin: 1rem;;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  user-select: none;
  animation: shake 0.5s ease-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.clickButton:focus {
  outline: none;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.profileButton {
  right: 0;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
}
.firstMenuOption {
  left: 20px;
  top: 5px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  z-index: 999;
}
.secondMenuOption {
  /* display: none; */
  left: 30px;
  top: 75px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  z-index: 999;
}
.thirdMenuOption {
  left: 100px;
  top: 100px;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  z-index: 999;
}