.menu {
  display: none;
  /* display: flex; */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #808080;
  background: red;
}
.header {
  position: relative;
  height: 5rem;
}
.nameTitle {
  font-size: 1rem;
  text-align: center;
}
.profileContainer {
  position: absolute;
  right: 0;
}

.optionsList {
  display: flex;
  /* display: none; */
  flex-direction: column-reverse;
  position: absolute;
  bottom: 42px;
  right: 0;
  height: 21rem;
  width: 7rem;
  overflow: scroll;
}