.circleButton {
  width: 12rem;
  height: 12rem;
  line-height: 12rem;
  border-radius: 50%;
  border: none;
  margin: auto;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #333;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.circleContainer {
  position: absolute;
  top: 2rem;
  height: 15rem;
  width: 15rem;
}

.circle {
  fill: none;
  stroke: #575eda6c;
  stroke-width: 6;
  stroke-dasharray: 314;
  stroke-dashoffset:314;
  animation: circle 1.3s infinite;
  opacity: 0.6;
}

@keyframes circle {
  100%{
      stroke-dashoffset:0;
  }
}